<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Ajouter un livre</h2>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" id="titre" class="form-control" formControlName="titre">
            </div>

            <div class="form-group">
                <label for="titre">Auteur</label>
                <input type="text" id="titre" class="form-control" formControlName="auteur">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Ajouter livre</button>
        </form>
    </div>
</div>
