<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="books">Livres</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isAuth" routerLinkActive="active"><a routerLink="auth/signin">Se connecter</a></li>
            <li *ngIf="!isAuth" routerLinkActive="active"><a routerLink="auth/signup">S'enregistrer</a></li>

            <li *ngIf="isAuth"><a (click)="onSignOut()" style="cursor:pointer">Se déconnecter</a></li>
        </ul>
    </div>
</nav>